<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267511721144-380scj89ckte6p5jsre57c9kl2tbcvcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267511721144-380scj89ckte6p5jsre57c9kl2tbcvcn</string>
	<key>API_KEY</key>
	<string>AIzaSyCi4DVUBB3j1L8IisPfHYFHJVFoQ4tAYfc</string>
	<key>GCM_SENDER_ID</key>
	<string>267511721144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restApiCrud</string>
	<key>PROJECT_ID</key>
	<string>rest-api-crud-d39b7</string>
	<key>STORAGE_BUCKET</key>
	<string>rest-api-crud-d39b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267511721144:ios:bdd82997301ce74618584d</string>
</dict>
</plist>